@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.footer .toggleBtn{
    display: none;
}

.light{
    /*Enables dark Mode*/
    /*CSS VARIABLES FOR COLOR SELECTIONS*/
    --mainCOlor: #000099;
    --hoverColor: #4d4dff;
    --backgroundColor: #e6e6ff;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #ccccff;
    --lightTwo: #8080ff;

}
.dark{
    --mainCOlor: #000099;
    --hoverColor: #4d4dff;
    --backgroundColor: #336699;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #ccccff;
    --lightTwo: #8080ff;
}

*,*::before,*::after{
    /*Erase and padding and margins*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font*/
    font-family: 'Aboreto', cursive;
}
.impuestos{
    display: flex;
    margin-top: 2rem;
    padding-top: 1.5rem;
    max-width: 80%;
    max-height: 400px;
}
.left{
    flex-basis: 60%;
}

.right #title{
    display: flex;
    flex-basis: 40%;
    font-size: 30px;
    color: var(--darkTwo);

    
}
.impuestos ul{
    margin: 5px 0 10px 0 !important;
    padding: 0;
    list-style-type: none;
    
}
.emblem{
    max-width: 100%;
    width: 700px;
    max-height: 100%;
}
img{
    /*set img's sizing to be restricted within their containers*/
    width: 100%;
}
.links ul li a{
    /*remove text decorations*/
    text-decoration: none;
    list-style-type: none;
}
.mainWrapper{
    /*main wrapper
      -padding // -sert background color
      -width  //  
      -min height //
      -hide over flow*/
    padding: 1.5rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*=============================
=====container div styling=====*/
.container{
    /*nav bar
        STYLING
      -set color // -set width
      -set margin // set padding
      -z index // positon
      */
    display: flex;
    justify-content: space-between;
    background-color:var(--backgroundColor);
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 10;
    position: relative;
}
header{
    position: relative;
    z-index: 70;
}
header .conatiner{
    display: flex;
    align-items: center;
}
.overlay{
    display: none;
}
/*==========================
======LOGO DIV STYLING======*/
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo img{
    /*Set logo im size*/
    width: 60px;
    margin-right: .70rem;
    margin-top: -0.8rem;
}
.logo h3{
    color: var(--darkTwo);
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
}
/*============================
=======LINKS STYLING==========*/


.links ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.links a{
    color: var(--lightTwo);
    margin: 0 2rem 0 1rem;
    display: inline-block;
    transition: ease-in 0.5s;
}
.link a:hover{
    color: var(--hoverColor);
    transform: scale(1.25);
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    color: #e6e6ff !important;
    background-color: var(--mainCOlor);
    border-radius: 4px;
    text-transform: capitalize;
}
.btn:hover{
    background-color: var(--hoverColor);
    transition: ease-in 0.365s;
    transform: scale(1) !important;
}
/*HAMMBURGER MENU*/
.ham{
  display: none;
}

/**/
.impuestos .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.title .right{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.2;
}
.item{
    line-height: 1.25;
    font-weight: lighter;
    font-size: .70m;
    color: var(--lightOne) !important;
    margin: 1.52rem .75rem 2.75rem 0;
    max-width: 500px;
}
.showcase .btn{
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.1);
}
.emblem{
    width: 120%;
    transform: translate(15% 25px);
}
.toggleBtn{
    display: inline-block;
    border: none;
    background: var(--lightOne);
    color: var(--backgroundColor);
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.25rem;
    transition: ease-in .255s;

}
/*
}
.mainWrapper.light .lightMode{
    display: none;
}
.mainWrapper.light .lightMode{
    display: block;
}
.mainWrapper.dark .darkMode{
    display: none;
}
.mainWrapper.dark .darkMode{
    display: block;
}

.toggleBtn:hover{
    background-color: var(--mainCOlor);
}*/

/*MOBILE SECTION*/
@media screen and (max-width: 860px){
    .impuestos .container{
        grid-template-columns: 1fr;
    }
    .showcase .left .title{
        margin: 4rem 0 0 0;
    }
    .right{
        width: 70%;
    }
    .emblem{
        margin: -5rem 0 0 0;
        width: 100%;
        transform: none;
        height: 200px;
    }
    .ham{
        z-index: 100;
        display: flex;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        
    }
    .links{
        z-index: 95;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 400px;
        height: 100%;
        background-color: var(--lightTwo);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: ease-in-out 0.456s;
    }
    .links ul{
        flex-direction: column;
    }
    .links a {
        color: var(--lightOne);
        margin: 0 !important;
        padding: 1rem;
    }
    .overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.195);
        opacity: 0;
        pointer-events: none;
    }
    .mainWrapper.activate .links{ 
        transform: translateX(0);
        box-shadow: 0 0 0 50px 2px rgba(0, 0, 0, 0.995);

    }
    .mainWrapper.activate .overlay{
        transition: ease-in 0.345s;
        opacity: 1;
    }
}